# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/ 

#n8n
n8n_API.py
n8n_api_methods.md

# Added by Task Master AI
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store
archived_n8n

# Added by Task Master AI
# UI Development
ui-dev/